/* header css */
.icon-section{
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    height:41px;
}
.list-inline{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 3px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.bg-light{
    margin-top:0;
    background-color:transparent !important;
}

.indexpage.navbar-nav > .nav-item > .nav-link:hover {
    color: #01bc8c !important;
    background-color: #fff !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent !important;
}
.navbar-nav .dropdown-menu a:hover{
    border-left: 2px solid #ef6f6c;
    background-color: #eee !important;
}

.navbar-nav .dropdown-menu:before{
    left:25% !important;
}
.navbar{
    padding:0.5rem 0 0 0;
}
#accordion {
    margin-top: 0 !important;
}
/*.nav-top-content-alignment{*/
/*float: right;*/
/*}*/
.dropdown-menu>li>a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #636363 !important;
    white-space: nowrap;
}
.navbar-nav > li > a{
    padding:8px 11px;
    color: #636363 !important;

}
.font_size14{
    font-size: 14px !important;
}
.navbar-nav>.active>a,  .navbar-nav>.active>a:focus,  .navbar-nav>.active>a:hover {
    color: #555 !important;
    background-color: #e7e7e7 !important;
}
@media (max-width: 767px) {
    .navbar .navbar-nav > li {
        float: none;
    }
}

.navbar nav{
    display: inline-block !important;
}
/*header end */


/*index*/

.border-primary {
    border-bottom: 2px solid #418bca !important;
    padding-bottom: 5px;
}
.success, .success > a, .success > a:visited, .success > a:hover, .success > a:active{
    color: #01bc8c !important;
    text-decoration: none;
}
.btn-link:hover {
    text-decoration:none !important;
}
.btn-link:focus, .btn-link.focus {
    text-decoration: none  !important;
}
.bg-primary{
    background-color: #418bca !important;
}
.header_card{
    padding: 0 !important;
}
.card_collapse{
    margin-bottom: 10px;
}
/*.btn-success {*/
/*color: #fff;*/
/*background-color: #5cb85c !important;*/
/*border-color: #4cae4c !important;*/
/*}*/
/*index end*/


/*footer*/
.copyright p {
    color: #fff;
    padding: 0.5% 0;
    margin:0;
}
/*end footer*/


/*products*/
.more_items{
    font-size:14px;
    color: #337ab7 !important;
}

/*div a {*/
/*color: #418bca !important;*/
/*padding-bottom: 2%;*/
/*padding-top: 5px;*/

/*}*/
.page-item.active .page-link {
    z-index: 1;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff !important;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
h5{
    font-size: 14px;
}
ul li {
    text-align: justify;
    font-size: 14px;
    /*line-height: 1.75rem;*/
}
.text_primary{
    font-size:18px ;
}
.btn-primary{
    background-color: #286090 !important;
    border-color: #204d74 !important;
}
.text-primary {
    color: #286090 !important;
}

/*end products*/


/*!*news item*!*/

/*h4{*/
/*font-size: 18px !important;*/
/*}*/

/*price tables*/
.card_heading {

    background-color: #418bca !important;
    border: none;
}
.card_price{
    border:none !important;
    border-radius: none !important;
    background-color: #eee !important;
}
/*pricetables end*/

/*blog page*/

.martop {
    margin-top: -47px !important;
}

/*blog page end*/

/*common css*/
.collapse1
{
    display: block;
}
.btn-link:hover{
    text-decoration: none !important;
}
.card_collapse{
    margin-bottom: 10px;
}
/*end common css*/

.collapse1
{
    display: block;
}


/*faq css*/

.card1{
    margin-bottom: 10px;
}
/*h4 a{*/
/*color: #636363 !important;*/
/*}*/
.card-heading+.panel-collapse>.list-group,.card-heading+.panel-collapse>.card-body {
    border-top: 1px solid #ddd;
}

/*end faq css*/


/*grid css*/
.card_primary{
    background-color: #418BCA ;
    color: #fff;
    border-color: #418BCA;
    padding: 10px;
}

/*end grid*/


.input-group-text{
    border-radius:0 !important;
}


blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;

}
.whitebg{
    color: #fff;
}
.bg-success{
    background-color: #01bc8c !important;
    border-bottom-color: #01bc8c !important;
}
.border-success {
    border-bottom: 2px solid #01bc8c !important;
    padding-bottom: 5px;
}
.bg-danger {
    background-color: #ef6f6c !important;
    color: #fff;
}
.border-danger {
    border-bottom: 2px solid #ef6f6c !important;
    padding-bottom: 5px;
}
.bg-warning {
    background-color: #f89a14 !important;
    color: #fff;
}
.border-warning {
    border-bottom: 2px solid #f89a14 !important;
    padding-bottom: 5px;
}
.divide > a {
    display: inline-block;
    padding: 16px 5px 0 5px;
}

@media(max-width:950px){
    .profile{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

}
@media (min-width: 768px)
{
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}
.dl_horizontal{
    font-size: 14px;
}

@media (min-width: 768px) {
    .dl-horizontal dd {
        margin-left: 180px;
    }
}

.btn-warning:hover {
    color: #fff !important;
    background-color: #e0a800;
    border-color: #d39e00;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default{
    background-color: #fff;
    border-color: #adadad;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74 !important;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
    background-color: #F2EDED;

}
.blogpage .tabbable-line > .nav-tabs .nav-link.active,.blogpage .tabbable-line > .nav-tabs > .nav-link> a.hover {
    border-bottom: 4px solid #01bc8c !important;
}
.index .tabbable-line > .nav-tabs .nav-link.active,.index .tabbable-line > .nav-tabs > .nav-link> a.hover {
    border-bottom: 4px solid #01bc8c !important;
}
.padding_left0{
    padding-left: 0 !important;
}
.horizontalline{
    margin-top: 1px !important;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*//home page*/

.purchase-styl{
    margin-top: 7px !important;
}

/*//about us*/

.thumbnail .caption {
    padding: 9px;
    color: #333;
}

/*all buttons size*/
.btn{
    font-size: 14px !important;
}

/*//default*/
.navbar-nav > .nav-item{
    margin-right:18px;
}

/*//breadcrum*/

.breadcrum_adjust{

    margin-top: 5px;
}