body {
    overflow-x : hidden !important; /*to control the overflow when the summernote full screen is enabled*/
}
/*Blog  custom code*/
.featured-post-wide {
    position : relative;
    margin   : 0 0 30px;
    overflow : hidden;
}
.the-box {
    padding       : 15px;
    margin-bottom : 30px;
    border        : 1px solid #D5DAE0;
    position      : relative;
    background    : white;
}
.featured-post-wide .featured-text {
    position   : relative;
    background : #fff;
    padding    : 15px 15px 15px 40px;
    z-index    : 3;
}
.additional-post {
    padding : 10px 15px 10px 0;
}
.box {
    width : 270px;
}
.article {
    padding               : 8px;
    line-height           : 1;
    border                : 1px solid #ddd;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
    -webkit-box-shadow    : 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow       : 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow            : 0 1px 1px rgba(0, 0, 0, 0.075);
    margin-bottom         : 10px;
    position              : relative;
}
.article h4 {
    margin : 14px 0 4px 0;
}
h4 {
    font-size : 16px;
}
h3 {
    font-size : 17px;
}
.hide-text {
    font             : 0/0 a;
    color            : transparent;
    text-shadow      : none;
    background-color : transparent;
    border           : 0;
}
.input-block-level {
    display            : block;
    width              : 100%;
    min-height         : 30px;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}
.btn-file {
    overflow       : hidden;
    position       : relative;
    vertical-align : middle;
}
.btn-file > input {
    position  : absolute;
    top       : 0;
    right     : 0;
    margin    : 0;
    opacity   : 0;
    filter    : alpha(opacity=0);
    /*transform : translate(-300px, 0) scale(4);*/
    font-size : 23px;
    direction : ltr;
    cursor    : pointer;
}
.fileupload {
    margin-bottom : 9px;
}
.fileupload .uneditable-input {
    display        : inline-block;
    margin-bottom  : 0;
    vertical-align : middle;
    cursor         : text;
}
.fileupload .thumbnail {
    overflow       : hidden;
    display        : inline-block;
    margin-bottom  : 5px;
    vertical-align : middle;
    text-align     : center;
}
.fileupload .thumbnail > img {
    display        : inline-block;
    vertical-align : middle;
    max-height     : 100%;
}
.fileupload .btn {
    vertical-align : middle;
}
.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display : none;
}
.fileupload-inline .fileupload-controls {
    display : inline;
}
.fileupload-new .input-append .btn-file {
    -webkit-border-radius : 0 3px 3px 0;
    -moz-border-radius    : 0 3px 3px 0;
    border-radius         : 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
    border                : none;
    padding               : 0;
    -webkit-border-radius : 0;
    -moz-border-radius    : 0;
    border-radius         : 0;
    -webkit-box-shadow    : none;
    -moz-box-shadow       : none;
    box-shadow            : none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
    border : 1px solid #ddd;
}
.padding_20px {
    padding : 20px;
}
.padding_20px .hr {
    border-top  : 1px solid #ccc;
    clear       : both;
    padding-top : 10px;
}
.padding_bottom_none {
    padding-bottom : 0;
}
.bootstrap-select .btn {
    width      : 140%;
    background : #fff;
    border     : 1px solid #ccc;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width : 100%;
}
.bootstrap-select.btn-group .btn .caret {
    position : absolute;
    right    : 5px;
    top      : 15px;
    color    : #555;
}
.padding_20px .livicon {
    padding-right : 15px !important;
}
.padding_20px p {
    font-size : 12px;
}
.nopadleftright {
    padding-left  : 0;
    padding-right : 0;
}
/*add new blog */
/*summer note */
.note-editable {
    height : 300px;
    width  : 100%;
    min-height: 300px ;
}
.note-popover .popover-content .dropdown-menu,
.panel-heading.note-toolbar .dropdown-menu {
    z-index: 1070;
}
.mrg_btm15 {
    margin-bottom : 15px;
}
.btn-default:not(.btn-link):not(.btn-flat) {
    background-color : #eee !important;
    border           : 1px solid #d2d2d2;
    color            : #333 !important;
}
#comment {
    resize : vertical;
}

.panel-default > .panel-heading{
    color:#555;
}
textarea{
    resize: vertical;
}

@media(min-width:320px) and (max-width:425px){
    .col-full-width-right iframe{
        height:100%;
        width:100%;
    }
}

@media (max-width: 425px) {
    .panel-heading.note-toolbar .note-color .dropdown-menu {
        margin-left: -48px;
        min-width: 176px !important;
    }

    .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group:first-child {
        display: block;
    }
}

.note-form-control{
    box-shadow: none !important;
}

.note-toolbar{
    background-color: #f7f7f7;

}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn{
    padding: 3px;
}
.modal-footer{
    border-top:transparent;
}

.action-buttons > .btn {
    margin-right: 10px;
}
.action-buttons > .btn.pull-right {
    margin-left: 10px;
    margin-right: 0;
}