body {
    overflow-x : hidden !important; /*to control the overflow when the summernote full screen is enabled*/
}
.editor-clr {
    color : #fff;
}
.editor-cls {
    width       : 100%;
    height      : 200px;
    font-size   : 14px;
    line-height : 18px;
    border      : 1px solid #dddddd;
    padding     : 10px;
}
.pd-15 {
    padding : 0 15px;

}
/*summer note */
.note-editor {
    padding-left : 1px;
}
.note-editable {
    height : 300px;
    width  : 100%;
    min-height: 300px;
}
.note-popover .popover-content .dropdown-menu,
.panel-heading.note-toolbar .dropdown-menu {
    z-index : 1070;
}
.note-toolbar.panel-heading {
    background-color : #f5f5f5 !important;
}
.note-dimension-display {
    color : #333;
}
.panel_bgcolor {
    background-color : #F5F5F5;
}
.flip_editing {
    margin           : 0 !important;
    background-color : #fff;
}
.trumbowyg-box, .trumbowyg-editor.box_content {
    background-color : #fff;
}
.panel_space {
    padding : 0;
}
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover {
    background : #e6e6e6;
}
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
    background : #01bc8c;
}
.trumbowyg-modal-submit:hover {
    background-color : #01BC8C !important;
}
a[data-wysihtml5-command="insertImage"],
.wysihtml5-toolbar > li:nth-child(5), .bootstrap-wysihtml5-insert-link-modal {
    visibility : hidden;
}


@media (min-width:320px) and (max-width:425px){
    .bootstrap-admin-panel-content .note-fontname{
        width:100px !important;
    }

}
@media (max-width:320px){
    .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group:first-child{
        display: block;
    }
  .panel-heading.note-toolbar .note-color .dropdown-menu{
      margin-left: 0;
      min-width:176px !important;
    }

    .trumbowyg-dropdown {
        left: inherit !important;
        right: 0;

    }

}
@media (max-width:425px){
    .panel-heading.note-toolbar .note-color .dropdown-menu{
        margin-left:-48px;
        min-width:176px !important;
    }
    .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group:first-child{
        display: block;
    }
}

@media (min-width: 419px ) and (max-width: 550px) {
    .trumbowyg-dropdown-backColor, .trumbowyg-dropdown-foreColor, .trumbowyg-dropdown {
        right: 0;
        left: inherit !important;
    }

}

@media (min-width: 371px) and (max-width: 381px) {
    .trumbowyg-dropdown-backColor, .trumbowyg-dropdown-foreColor {
        left: 30px !important;
    }
}


.note-form-control{
    box-shadow: none !important;
}

.note-toolbar{
    background-color: #f7f7f7;

}
.mce-menubar .mce-menubtn.mce-active, div.mce-menubtn.mce-opened{
    z-index: 65530 !important;
}
div.mce-fullscreen{
    z-index: 65530;
}
.modal-footer{
    border-top:transparent;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn{
    padding: 3px;
}