
.form-position.top {
    margin-top    : 0;
    margin-bottom : 42px;
    border-top    : 0;
}
.form-position {
    margin : 0;

}
.pad-top20 {
    padding-top : 24px !important;
}
.pad-top40 {
    padding-top : 9px !important;
}
.form-bordered .form-group > .row > div {
    padding     : 15px;
    border-left : 1px solid #efefef !important;
}
.form-bordered .form-group {
    margin        : 0;
    border-bottom : 1px solid #efefef;
}
.border {
    /* margin: 0; */
    padding : 0;
}
.form-bordered .control-label {
    padding-top   : 24px !important;
    margin-bottom : 0;
    text-align    : right;
}
.form-bordered-row .form-group {
    margin        : 0;
    border-bottom : 1px solid #efefef;
}
.form-bordered-row .control-label {
    padding-top   : 9px !important;
    margin-bottom : 0;
    text-align    : right;
}
.form-bordered-row .form-group > div {
    padding : 15px;

}
.mar-top {
    margin-top : -4px !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color               : #555;
    background-color    : #EBEBEB;
    /* border: 1px solid #ddd; */
    border-top          : 3px solid #418bca;
    border-bottom-color : transparent;
    cursor              : default;
    margin-top          : -2px;
}
.striped-col {
    background-color : #f9f9f9;

}
.input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height    : 29px;
    padding   : 0 10px;
    font-size : 12px;
}
.input-group-addon {
    padding : 5px 12px;
}
.input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    padding : 9px 16px;
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success.checkbox-inline label, .has-success.checkbox label, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.radio-inline label, .has-success.radio label {
    color : #00bc8c;
}
.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning.checkbox-inline label, .has-warning.checkbox label, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.radio-inline label, .has-warning.radio label {
    color : #f89a14;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error.checkbox-inline label, .has-error.checkbox label, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.radio-inline label, .has-error.radio label {
    color : #ef6f6c;
}
.has-success .form-control-feedback {
    color : #00bc8c;
}
.has-warning .form-control-feedback {
    color : #f89a14;
}
.has-error .form-control-feedback {
    color : #ef6f6c;
}
 .has-success .input-group-addon {
    border-color : #00bc8c;
}
 .has-error .input-group-addon {
    border-color : #ef6f6c;
}
.select_margin select{
    margin-top:5px;
}
.btn_margin_top{
    margin-top:5px;
}
@media (min-width:320px) and (max-width:1024px){
    .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
        margin-left:0px;
    }
}
.input-group-text {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.form-control-feedback{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}
.has-error .form-control:focus {
    border-color: #EF6F6C;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
}
.has-warning .form-control:focus {
    border-color: #f89814;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #c0a16b;
}
.has-warning .form-control {
    border-color: #f89a14;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-success .form-control:focus {
     border-color: #00bc8c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-bordered .form-group > div{
    padding:0 !important;
}
.clr_caret{
    color:#fff !important;
}

.has-feedback .form-control {
    padding-right: 42.5px;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle{
    color: #fff !important;
    background-color: #f89814 !important;
    border-color: #f89814 !important;
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle{
    color: #fff;
    background-color: #67C5DF !important;
    border-color: #67C5DF !important;
}
.has-success .input-group-text {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}
.has-success .input-group-text {
    border-color: #00bc8c;
}
.has-error .input-group-text {
    border-color: #ef6f6c;
}
.has-error .input-group-text {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

.form-control-static {
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
}
.form-bordered .form-group > div {
    border-left: 1px solid #efefef !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #555;
    background-color: #EBEBEB;
    border: 1px solid #ddd;
    border-top: 3px solid #418bca;
    border-bottom-color: transparent;
    cursor: default;
    margin-top: -2px;
}
.btn-radius{
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.btn.btn-radius1{
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.check_box{
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

