.modal-content{

    -webkit-box-direction: reverse;
}
.modal-header {
    display: -webkit-box;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button-bevel;
}