
.pd {
    padding    : 20px;
    border     : 5px solid black;
    box-sizing : border-box;
}
.mar-t5 {
    margin-top : 5px;
}
.m-b-50 {
    margin-bottom :50px;
}
.wd {
    width : 300px
}
.pd-45 {
    padding : 45px;
}
.display-no {
    display : none;
}
.select2-container .select2-selection--single {
    height : 34px;
}
.icheckbox_line-red, .iradio_line-red {
    margin-bottom : 4px;
}
.futur {
    margin-left : 10px;
!important;
}
.label.label-success, .label.label-danger {
    z-index : 0 !important;
}
.select2{
    width:100% !important;
}
@media (max-width:320px){
    .jp-card{
        min-width:250px !important;
    }
    .form-group .bootstrap-switch{
        margin-top:5px;
    }
}
.auto_block .input-group{
    display: block;
}
.border_radius{
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.input-group-addon{

    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
  border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0;
}
.multiselect-item filter.input-group{
    display: table !important;
}
.dropdownspage.dropdown-menu > li > a:hover{
    background-color: #3c8dbc !important;
    color: #f9f9f9 !important;
}
.multiselect-container .input-group{
    margin:0 !important;
    padding:5px;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #337ab7;
    color: #fff !important;
}
 .radius_left >.select2-container--bootstrap .select2-selection--single{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
/*.btn-default {*/
    /*background-color: #F1F1F1 !important;*/
    /*border-top-right-radius: 4px !important;*/
    /*border-bottom-right-radius: 4px !important;*/
    /*border-top-left-radius: 0 !important;*/
    /*border-bottom-left-radius: 0 !important;*/
    /*border-color: #ccc;*/
/*}*/

.remove_radius_right{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.remove_radius{
    border-radius:0 !important;
}
.input-group-btn button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}