#RGB {
    height     : 20px;
    background : rgb(128, 128, 128);
}
#RC .slider-selection {
    background : #FF8282;
}
#RC .slider-handle {
    background : #FF8282;
}
#GC .slider-selection {
    background : #00bc8c;
}
#GC .slider-handle {
    background : #00bc8c;
}
#BC .slider-selection {
    background : #418bca;
}
#BC .slider-handle {
    border-bottom-color : #418bca;
}
#RED .slider-selection {
    background : #ef6f6c;
}
#RED .slider-handle {
    background : #EF6B69;
}
#R, #G, #B {
    width : 300px;
}
#ex1Slider .slider-selection {
    background : #ef6f6c;
}
#ex1Slider .slider-handle {
    background : #ef6f6c;
}
#ex2 .slider-selection {
    background : #418bca;
}
#ex2 .slider-handle {
    background : #418bca;
}
#ex4 .slider-selection {
    background : #EF6F6C;
}
#ex4 .slider-handle {
    background : #EF6F6C;
}
#ex5 .slider-selection {
    background : #EF6F6C;
}
#ex5 .slider-handle {
    background : #EF6F6C;
}
#ex6 .slider-selection {
    background : #00bc8c;
}
#ex6 .slider-handle {
    background : #00bc8c;
}
#ex7 .slider-selection {
    background : #418bca;
}
#ex7 .slider-handle {
    background : #418bca;
}
#ex8 .slider-selection {
    background : #aaaaaa;
}
#ex8 .slider-handle {
    background : #aaa;
}
#ex9 .slider-selection {
    background : #F89A14;
}
#ex9 .slider-handle {
    background : #F89A14;
}
label {;
    font-weight : lighter;
}
.destroy-margt {
    margin-top : 20px;
}
#destroyEx5Slider {
    margin-left :15px;
}
@media (min-width:320px) and (max-width:425px){
    #destroyEx5Slider{
        margin-top:5px;
    }
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}