@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    background: url(../../img/parallax/back.png);
    background-color: #444;
    background: url(../../img/parallax/pinlayer2.png), url(../../img/parallax/pinlayer1.png), url(../../img/parallax/back.png);
    font-family: 'lato';
}

.vertical-offset-100 {
    padding-top: 100px;
}
.vertical-offset-50 {
    padding-top: 50px;
}
label{
    color:#999999 !important;
    font-weight: 100;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

h3 {
    font-size: 22px ! important;
}

.btn-primary {
    background: #204d74;
    font-size: 18px;
}
.alert-success {
    color: #fff;
    background-color: #204d74 !important;
    border-color: #122b40 !important;
}
.alert-danger {
    color: #fff;
    background-color: #ff908d !important;
    border-color: #EF6F6C !important;
}
.alert-info {
    color: #fff;
    background-color: #67C5DF !important;
    border-color: #67C5DF !important;
}
.alert-warning {
    color: #fff;
    background-color: #F89A14 !important;
    border-color: #F89A14 !important;
}

.panel-default>.card-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.form-control{
    font-size: 14px !important;
}
.pdng_10{
    padding-top: 0.25rem;
    margin-bottom: 0 !important;
}
.has-error .form-control {
    border-color: #ef6f6c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .help-block .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #ef6f6c;
}
.has-error .input-group-text {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.input-group-text {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.has-error .form-control:focus {
    border-color: #ef6f6c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
}
.has-success .input-group-text {
    color: #00bc8c;
    background-color: #dff0d8 !important;
    border-color: #3c763d !important;
}
.has-success .form-control:focus {
    border-color: #00bc8c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168;
}
