.icon-pos{
    position: relative;
    top: -1px;
    font-size:10px;
}
#demo_vertical,#demo_vertical2{
    border-radius: 3px;
}


.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0px !important;
}
.input-group-append{
    display:inline-grid;
}
.btn-default {
    background-color: #f1f1f1 !important;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc !important;
}
/*.bootstrap-touchspin-down{*/
    /*border-top-left-radius: 0 !important;*/
    /*border-bottom-left-radius: 0 !important;*/
    /*border-top-right-radius: 0 !important;*/
    /*border-bottom-right-radius: 4px !important;*/
/*}*/

.bootstrap-touchspin-up{
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
 .input-group-text{
    border-radius:0 !important;
}
 .bootstrap-touchspin .input-group-btn-vertical{
    position: relative;
    white-space: nowrap;
    width: 7% !important;
    vertical-align: middle;
    display: table-cell;
}
.bootstrap-touchspin .input-group-btn-vertical i {
    position: absolute;
    top: 3px;
    left: 11px !important;
    font-size: 9px;
    font-weight: normal;
}

.radius_left{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.radius_left1{
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 0 !important;

}