
.block {
    opacity  : 1;
    position : inherit !important;
}
.block__list_words li {
    padding          : 10px 20px;
    margin-top       : 5px;
    background-color : #f0f0f0;
    border           : 1px solid #aaa !important;
}
.block__list_tags li {
    color            : #fff;
    float            : left;
    margin           : 8px 20px 10px 0;
    padding          : 5px 25px;
    background-color : #5F9EDF !important;
    text-align       : center;
    cursor           : move;
    border-radius: 4px;
    border-color: #418BCA;
    min-width: 89px;
    min-height: 32px;
}
.block__list_tags li :hover {
    background-color: #5F9EDF !important;
}
.title {
    background-color : transparent;
}
.tile__list img {
    cursor        : move;
    margin        : 10px;
    border-radius : 100%;
    width         : 80px;
    height        : 80px;
}
@media (min-width : 750px) and (max-width : 970px) {
    .container {
        width     : 100%;
        min-width : 750px;
    }
}
.sortable-ghost {
    opacity : .2;
}
img {
    border         : 0;
    vertical-align : middle;
}
.title_xl {
    padding   : 3px 15px;
    font-size : 40px;
}
.tile {
    width          : 28%;
    min-width      : 245px;
    color          : #333;
    padding        : 10px 30px;
    text-align     : center;
    margin-top     : 15px;
    margin-left    : 10px;
    margin-right   : 30px;
    border         : 1px solid #aaa;
    display        : inline-block;
    vertical-align : top;

}
.tile__name {
    cursor         : move;
    padding-bottom : 10px;
    border-bottom  : 1px solid #FF7373;
}
.tile__list {
    margin-top : 10px;
}
.tile__list:last-child {
    margin-right : 0;
    min-height   : 80px;
}
.block {
    opacity  : 1;
    position : absolute;
}
.block__list {
    max-width        : none;
    margin           : 0;
    padding          : 10px 0;
    list-style       : none;
    background-color : #fff;
}
.block__list-title {
    margin        : 15px 0;
    padding       : 16px 0;
    text-align    : center;
    border-bottom : 1px solid #aaa;
}
.block__list_words .sortable-ghost {
    opacity          : 0.4;
    background-color : #F4E2C9;
}
.block__list_words li:first-letter {
    text-transform : uppercase;
}
.block__list_tags {
    padding-left : 30px;
}
.block__list_tags:after {
    clear   : both;
    content : '';
    display : block;
}
.block__list_tags li:first-child:first-letter {
    text-transform : uppercase;
}
#editable li {
    position   : relative;
    min-height : 40px;
}
#editable li {
    position : relative;
    overflow : hidden;
}
#editable i {
    -webkit-transition : opacity .2s;
    transition         : opacity .2s;
    opacity            : 0;
    display            : block;
    cursor             : pointer;
    color              : #c00;
    top                : 10px;
    position           : absolute;
    right              : 40px;
    font-style         : normal;
}
#editable li:hover i {
    opacity : 1;
}
#filter {
}
#filter button {
    color      : #fff;
    width      : 100%;
    border     : none;
    outline    : 0;
    margin     : 10px 0 0;
    transition : opacity .1s ease;
    cursor     : pointer;
    padding    : 10px 0;
    font-size  : 20px;
}
#filter button:hover {
    opacity : 1;
}
#filter .block__list {
    padding-bottom : 0;
}
.drag-handle {
    margin-right : 10px;
    font         : bold 20px Sans-Serif;
    color        : #5F9EDF;
    display      : inline-block;
    cursor       : move;
    cursor       : -webkit-grabbing; /* overrides 'move' */
}
#todos input {
    padding     : 5px;
    font-size   : 14px;
    font-family : 'Roboto', sans-serif;
    font-weight : 300;
}
#nested ul li {
    background-color : rgba(0, 0, 0, .05);
}
.block__list_words li, .block__list_words li.btn-primary:hover {
    padding          : 10px 50px 10px 20px;
    margin-top       : 5px;
    background-color : #f0f0f0 !important;
    border           : 1px solid #aaa !important;
    color            : #333 !important;
    border-radius    : 0;
    width            : 100%;
    text-align       : left;
}
/*sortable list 2*/
