.icon-section{
    background-color: #7f8c8d;
}
#bar{
    background: #7f8c8d;
}
.bg-border{
    border-left: 3px solid #7f8c8d;
}
.purchae-hed{
    color: #7f8c8d;
}
.purchase-styl,
.purchase-styl:hover,
.purchase-styl:active,
.purchase-styl:focus {
    background-color: #7f8c8d;
    box-shadow: 0px 2px 0px #727e7f;
}
blockquote{
    border-left: 3px solid #7f8c8d;
}
