.icon-section{
    background-color: #ef6f6c;
}
#bar{
    background: #ef6f6c;
}
.bg-border{
    border-left: 3px solid #ef6f6c;
}
.purchae-hed{
    color: #ef6f6c;
}
.purchase-styl,
.purchase-styl:hover,
.purchase-styl:active,
.purchase-styl:focus {
    background-color: #ef6f6c;
    box-shadow: 0px 2px 0px #e74c3c;
}
blockquote{
    border-left: 3px solid #ef6f6c;
}