.icon-section{
    background-color: #01bc8c;
}
#bar{
    background: #01bc8c;
}
.bg-border{
    border-left: 3px solid #01bc8c;
}
.purchae-hed{
    color: #01bc8c;
}
.purchase-styl,
.purchase-styl:hover,
.purchase-styl:active,
.purchase-styl:focus {
    background-color: #01bc8c;
    box-shadow: 0px 2px 0px #268a70;
}
blockquote{
    border-left: 3px solid #01bc8c;
}