.icon-section{
    background-color: #43cdc4;
}
#bar{
    background: #43cdc4;
}
.bg-border{
    border-left: 3px solid #43cdc4;
}
.purchae-hed{
    color: #43cdc4;
}
.purchase-styl,
.purchase-styl:hover,
.purchase-styl:active,
.purchase-styl:focus {
    background-color: #43cdc4;
    box-shadow: 0px 2px 0px #45bcb4;
}
blockquote{
    border-left: 3px solid #43cdc4;
}